.button {
  border: 1px solid var(--primary-color);
  padding: 12px 28px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
  font-weight: 600;
  transition: all 0.3s ease;
}

.primary {
  background-color: var(--primary-color);
  color: white;
}

.primary:hover {
  background-color: #d16a00;
  border-color: #d16a00;
}

.secondary {
  background-color: transparent;
  color: var(--text-color);
  border-color: transparent; /* Убираем рамку, т.к. в макете ее нет */
}

.secondary:hover {
  color: var(--primary-color);
}