.card {
  border-radius: 12px;
  background-color: #fff;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}

.card:hover {
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
  transform: translateY(-5px);
}

.image {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.name {
  font-size: 16px;
  font-weight: 600;
  margin: 15px 20px 5px 20px;
  text-align: left;
}

.price {
  font-size: 16px;
  font-weight: 600;
  color: var(--primary-color);
  margin: 0 20px 20px 20px;
  text-align: left;
}

.card button {
  width: calc(100% - 40px);
  margin: 0 20px 20px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}