.features {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 колонки */
  gap: 30px;
  padding: 80px 20px;
  text-align: center;
}

.featureItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon {
  font-size: 36px; /* Размер эмодзи/иконки */
  margin-bottom: 15px;
  background-color: #fff;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
}

.title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

.description {
  font-size: 14px;
  color: #666;
  line-height: 1.5;
}